html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #0058b2;/* 一些不支持背景渐变的浏览器 */
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3893f0,endcolorstr=#0058b2,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3893f0,endcolorstr=#0058b2,gradientType=0);/*IE8*/
    background:-moz-linear-gradient(top, #3893f0, #0058b2);
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#3893f0), to(#0058b2));
    background:-o-linear-gradient(top, #3893f0, #0058b2));
}
*{
    margin: 0px;
    padding: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.denglu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.biaodan{
    height: 230px;
    width: 500px;
    border: 1px solid #d5d9dc;
    background-color: #FFFFFF;
    border-radius:4px 4px 0px 0px;
    font-size: 14px;
    color: #666666;
    box-sizing: border-box;
    padding: 30px;
}
.biaodan input.biaodankuang{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666666;
    box-sizing: border-box;
}
.biaodan input.biaodankuang:focus{
    background-color: #CEFFFF;
    border: 1px solid #8EFFFF;
}
.jizhumim{
    text-align: center;
}
.jizhumim input{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666666;
    box-sizing: border-box;
    margin-right: 10px;
}
.anniu{
    height: 100px;
    width: 500px;
    border: 1px solid #d5d9dc;
    background-color: #e3e9ed;
    border-radius:0px 0px 4px 4px;
    box-sizing: border-box;
    padding: 30px;
}
.anniu button{
    background-color: #0099FF;
    border: 1px solid #0066FF;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    color: #FFFFFF;
    box-sizing: border-box;
    display: block;
    text-align: center;
    background-image: url(img/denglu-01.jpg);
    background-repeat: repeat-x;
    background-position: center;
    text-decoration: none;
    font-weight: bold;
}
.anniu button:hover{
    background-color: #15BAFF;
    background-image: url(img/denglu-02.jpg);
    background-repeat: repeat-x;
    background-position: center;
}
.banquan{
    font-size: 12px;
    color: #048DF7;
    text-align: center;
    margin-top: 10px;
}
.mingcheng{
    font-family: "微软雅黑";
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing:0.2em
}
